.job {
  margin: 10px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 100ms;
  max-width: 600px;
}
.job-body .header {
  padding-bottom: 7px;
  border-bottom: 1px solid #f0f2f5;
  margin-bottom: 7px;
}

.job-body .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.job-body .content .info-grid {
}

.job-body .field-name {
  font-weight: 600;
}

.job-body .paired-neighbor {
}
